// variables
$background-color: #f5f5f5;
$cv-color: #ffffff;

#cv {
  // general
  .background {
    background-color: $background-color;
    min-height: 100vh;
  }

  img {
    max-width: 100%;
  }

  section {
    padding: 30px 10px;
  }
}

@media print {
  // print only
  #cv {
    padding-top: 0;
    .container {
      max-width: 100%;
    }
    .cv-color {
      box-shadow:none!important;
    }
  }
}

#cv {
  // mainBody
  .cv-color {
    background-color: $cv-color;
  }
}

#cv {
  // sidePanel
  #sidebar {
    padding: 0;
  }
  .sidebar-color {
    -webkit-print-color-adjust: exact; 
    background-color: #42A8C0;
  }

  #sidebar-image {
    background-color: rgba(0, 0, 0, 0.2);

    img {
      width: 150px;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 32px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 10px;
    }

    h2 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
}