a {
  text-decoration: none;
  color: inherit;
}

@for $i from 0 through 5 {
  .vb-p-#{$i} {
    padding: $i * 2.5vw;
  }

  .vb-p-h-#{$i} {
    padding-top: $i * 2.5vw;
    padding-bottom: $i * 2.5vw;
  }

  .vb-p-v-#{$i} {
    padding-left: $i * 2.5vw;
    padding-right: $i * 2.5vw;
  }

  .vb-p-l-#{$i} {
    padding-left: $i * 2.5vw;
  }

  .vb-p-r-#{$i} {
    padding-right: $i * 2.5vw;
  }

  .vb-p-t-#{$i} {
    padding-top: $i * 2.5vw;
  }

  .vb-p-b-#{$i} {
    padding-bottom: $i * 2.5vw;
  }
}

.min-full-height {
  min-height: 100vh;
}

.text-break-spaces {
  white-space: break-spaces;
}